* {
  box-sizing: border-box;
}
.App {
  background-color: #000000;
  text-align: center;
  height: 100vh;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px 0 30px;
}

.authed-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: black;
}

.header {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  color: rgb(139, 139, 139);
}

.sub-text {
  font-size: 18px;
  color: rgb(139, 139, 139);
}

.gradient-text {
  background: -webkit-linear-gradient(left, #60c657 30%, #35aee2 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header_address {
  margin: auto;
  display: inline-block;
}
.header_address .address {
  color: white;
  text-align: center;
  width: 100%;
  margin: auto;
  padding: 15px;
  background: -webkit-linear-gradient(left, #0c2b0a, #003947);
  border-radius: 50px;
}
.cta-button {
  height: 45px;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 0px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: 0;
  cursor: pointer;
}

.connect-wallet-button {
  background: -webkit-linear-gradient(left, #60c657, #35aee2);
  border: 0;
  cursor: pointer;
  padding: 10px 40px;
  border-radius: 30px;
  font-size: 1.2rem;
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  box-shadow: 1px 1px 50px rgba(149, 255, 28, 0.2);
}

.submit-gif-button {
  background: -webkit-linear-gradient(left, #adadad, #575757);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  color: #000000;
  margin-left: -10px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 25px;
  padding-left: 20px;
}

.twitter-logo {
  width: 15px;
  height: 15px;
  filter: grayscale(100);
}

.footer-text {
  color: rgb(139, 139, 139);
  font-size: 12px;
  font-weight: bold;
}

.gif-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 5rem;
  justify-items: center;
  margin: 0;
  padding: 0;
}

.gif-grid .gif-item {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-self: center;
  align-self: center;
}

.gif-item img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}

.connected-container input[type="text"] {
  display: inline-block;
  color: white;
  padding: 0 22px;
  width: 50%;
  height: 60px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: rgba(80, 80, 80, 0.25);
  border: 0px solid rgb(83, 83, 83);
  margin: 20px auto;
  margin-right: 0;
}

.connected-container button {
  height: 55px;
}
